extends layout

block content

		script( src='https://code.highcharts.com/highcharts.js'  )
		script( src='https://code.highcharts.com/modules/exporting.js' )
		script( src='/js/graficas.js' )    

		.topspace
		.page_container
			.colhh1.block_container.bg_img2
				.bg_opacity
					.pd_64.center_text.white_text.text_shadow
						.pd_16.bm_title ¡Bienvenido a la pagina chida!
							.pd_8.mm_title El mejor portal financiero
			.block_container.center_text.mainoptions_container(style='box-shadow: none;')
				div( id="container" style="min-width: 310px; height: 400px; margin: 0 auto" )
